# to make package functions available use export(functionName1, functionName2, ...)
importFrom("graphics", "contour", "par", "plot", "points")
importFrom("stats", "dchisq", "pchisq", "qchisq")
useDynLib(kmc)
import(emplik, rootSolve)
importFrom(compiler,cmpfun)
export("kmc.solve","plotkmc2D","print.kmcS3","kmc.bjtest")
S3method(print, kmcS3)
